<div class="container">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">/</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sinh viên </a>
        </li>
      </ul>
    </div>
  
    <div class="card" style="margin-top: 30px">
      <div class="card-header">
        <i class='fas fa-table' style='font-size:24px'> Danh sách sinh viên</i>
      </div>
      <div class="card-body">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <table _ngcontent-xkb-c1="" class="table table-bordered" style=" margin-top: 16px;">
          <thead>
            <tr>
              <th scope="col">LastName</th>
              <th scope="col">FirstName</th>
              <th scope="col">EnrollDate</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let item of TC' class="alert fade show">
              <td>{{item.LastName}}</td>
              <td>{{item.FirstName}}</td>
              <td>{{item.EnrollDate}}</td>
              
  <td>
                <i class="mt-1 mr-3 fas fa-trash-alt fa-lg close float-left" style="color:black" data-dismiss="alert"
                  (click)="removeTC(item.ID)"></i>
            
                <i class="fas fa-info fa-lg" style="color:black" [routerLink]="['/trangchu',ID]"></i>
  
  
              </td>
            </tr>
          </tbody>
        </table>

        <p _ngcontent-oyl-c1="" class="font-italic" style="margin-left: display-inline">Showing 1 of 3 </p>
        <nav aria-label="Page navigation example" style="float:right">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a></li>
              <li class="page-item"><a class="page-link" [routerLink]="['/trangchu']">1</a></li>
              <li class="page-item"><a class="page-link" [routerLink]="['/trangchu2']">2</a></li>
              <li class="page-item"><a class="page-link" [routerLink]="['/trangchu3']">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
          
            
            
          </ul>
        </nav>
      </div>
  
    </div>
  </div>
  